<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://code.jquery.com/jquery-3.5.1.js"
            integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
            crossorigin="anonymous"></script>
    <script src="js/actions.js"></script>
</head>
<body>
        <input id="id" type="text" placeholder="number of book">
        <input id="title" type="text" placeholder="title">
        <input id="author" type="text" placeholder="author">
        <input id="desc" type="text" placeholder="description">
        <button id="insert">Insert</button>
</body>
</html>